@import "normalize";
@import "bourbon/bourbon";
* {
  font-size: 1em;
}
header {
  background-color: #2980b9;
  padding: 10px 0;
}
.block {
  display: block;
}
.content {
  padding: 5px;
  background-color: #fafafa;
  height: 100%;
}
header {
  .main-logo {
    margin-left: 50px;
    width: 250px;
  }
  .input-group.search {
    width: 30%;
    min-width: 200px;
    display: inline-block;
    float: right;
    margin-right: 20px;
  }
  .input-group.search input {
    width: 81%;
  }
  .input-group.search input, header .input-group.search span {
    float: left;
  }
  span.reset-search {
    position: absolute;
    display: inline-block;
    cursor: pointer;;
    top: 7px;
    right: 21%;
    width: 20px;
    height: 20px;
    z-index: 1000;
    background-color: #ccc;
    border-radius: 20px;
    text-align: center;
    color: #333;
  }
}
nav.main-navigation {
  display: inline-block;
}
nav.main-navigation a {
  color: white;
  font-size: 1.25em;
  &:hover {
  text-decoration: none;
  }
}
nav.main-navigation ul {
  margin: 0;
}
nav.main-navigation ul li {
  list-style: none;
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  margin: 0 8px 0 10px;
  &:hover {
    @include animation(all 0.5s ease);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
  }
}
.table>thead>tr>td.smartFilter {
  padding: 0;
  div.dropdown {
    width: 100%;
    height: 100%;
    a.btn.dropdown-toggle {
      width: 100%;
      height: 100%;
      color: #333;
      &:hover {
        color: #428bca;
      }
    }
  }
}
.dropdown-menu.list-group #test {
    margin: 15px 0 0 0;
  }
.open>.dropdown-menu {
  padding: 8px;
  li.list-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    &:last-child {
      border-bottom: 0;
    }
  }
}
form select.form-control.select-inline {
  display: inline-block;;
  width: 10%;
}
form input.form-control.input-inline {
  display: inline-block;
  width: 89%;
  float: right;
}

table.table.table-bordered {
  tr.table-clickable {
    @include linear-gradient(#fff, #ecf0f1);
    &:hover {
      cursor: pointer;
    }
  }
}
div.table-clickable {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin: 4px 0;
  padding: 10px 5px;
  @include linear-gradient(#fff, #ecf0f1);
  width: 100%;
  span {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #e5e5e5;
    &:last-child {
      border-right: 0;
    }
    &:first-child {
      width: 10%;
    }
    &:nth-child(2) {
      width: 30%;
    }
  }
}
div.wrapper {
  height: 100%;
  div.dashboard {
    div.dash {
      min-height: 200px;
      padding: 5px 5px;
      margin: 10px 0;
      border: 2px solid #ecf0f1;
      background-color: #fff;
      color: #7f8c8d;
      border-radius: 5px;
      font-size: 1.25em;
      text-align: left;
      div.title {
        border-bottom: 1px solid #ecf0f1;
        padding-left: 10px;
        p {
          display: inline-block;
          margin: 0;
        }
        p + p {
          font-size: .75em;
        }
      }
      div.number {
        font-size: 2.5em;
        text-align: center;
        margin-top: .5em;
        span {
          font-size: .75em;
          display: inline-block;
          &::before {
            content: '/ ';
          }
        }
      }
      span {
        display: block;
      }
    }
  }
}
