# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# DB config
db.php

# Node Modules
/node_modules

# CSS
/app/css

# Bourbon
/app/scss/bourbon
