<!-- <div class="input-group">
  <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="goSearch()">Go!</button>
  </span>
</div> -->
<table class="table table-bordered">
  <thead>
    <td>ID</td>
    <td>Status</td>
    <td>Title</td>
    <td>Besoldung</td>
    <td>
      <div id="orgDD" class="dropdown btn-group" uib-dropdown auto-close="disabled">
        <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" type="button">
            Organization
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu list-group" uib-dropdown-menu role="menu" aria-labelledby="usersDD">
          <li>
            <input type="text" class="form-control" placeholder="Search for..." ng-model="smartSearchOrg">
          </li>
          <li>
            <span></span>
          </li>
          <li ng-repeat="proposal in proposals | unique: 'orgName' | filter:smartSearchOrg" class="list-group-item">
              <input type="checkbox" ng-model="search">
              {{proposal.orgName}}
          </li>
        </ul>
      </div>
    </td>
    <td>Erfasst am</td>
  </thead>
  <tr ng-repeat="proposal in proposals | filter:search">
    <td>{{proposal.ID}}</td>
    <td ng-bind-html="proposal.Raw | convertToStatus"></td>
    <td>{{proposal.Title}}</td>
    <td>
      {{proposal.W1 | convertToName: 'W1' }}
      {{proposal.W2 | convertToName: 'W2' }}
      {{proposal.W3 | convertToName: 'W3' }}
      {{proposal.C1 | convertToName: 'C1' }}
      {{proposal.C2 | convertToName: 'C2' }}
      {{proposal.C3 | convertToName: 'C3' }}
      {{proposal.Tenure | convertTenure }}
    </td>
    <td>
      <span class="label label-default">{{proposal.orgAbbrev}}</span>
      {{proposal.orgName}}
    </td>
    <td>{{proposal.SaveTime | convertSQLdate | date: 'dd.MM.yyyy'}}</td>
    <td><a href=".#/proposals/{{proposal.ID}}/">Bearbeiten</a></td>
  </tr>
</table>
