<!-- <div class="input-group">
  <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="goSearch()">Go!</button>
  </span>
</div> -->
<table class="table table-bordered">
  <thead>
    <td class="smartFilter">
      <div id="rawDD" class="dropdown" uib-dropdown auto-close="disabled">
        <a class="btn dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" type="button">
            Status
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu list-group" uib-dropdown-menu role="menu" aria-labelledby="rawDD">
          <li ng-repeat="proposal in proposals | unique: 'Raw' | orderBy: 'Raw' " class="list-item">
              <input type="checkbox" ng-click="includeRaw(proposal.Raw)">
              <span ng-bind-html="proposal.Raw | convertToStatus"></span> ({{getCountRaw(proposal.Raw)}})
          </li>
        </ul>
      </div>
    </td>
    <td>Title</td>
    <td>Besoldung</td>
    <td class="smartFilter">
      <div id="orgDD" class="dropdown" uib-dropdown auto-close="disabled">
        <a class="btn dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" type="button">
            Organization ({{organizations.length}})
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu list-group" uib-dropdown-menu role="menu" aria-labelledby="orgDD">
          <li>
            <input type="text" class="form-control" placeholder="Search for..." ng-model="smartSearchOrg">
          </li>
          <li id="test" role="separator" class="divider filter"></li>
          <li ng-repeat="org in organizations | filterBy: ['orgName']:smartSearchOrg" class="list-item">
              <input type="checkbox" ng-click="includeOrg(org.orgName)">
              {{org.orgName}}
              <!-- ({{(proposals | filter: org.orgName | filter: rawFilter).length}}) -->
              <!-- ({{getCountOrg(proposal.orgName)}}) -->
          </li>
          <!-- <li ng-repeat="proposal in proposals | unique: 'orgName' | filterBy: ['orgName']:smartSearchOrg | orderBy: 'orgName' " class="list-item">
              <input type="checkbox" ng-click="includeOrg(proposal.orgName)">
              {{proposal.orgName}} ({{(proposals | filter: proposal.orgName | filter: rawFilter).length}})
              //({{getCountOrg(proposal.orgName)}})
          </li> -->
        </ul>
      </div>
    </td>
    <td>Bundesland</td>
    <td>Fachkultur</td>
    <td>Fachbereich</td>
    <td>Fach</td>
    <td>Erfasst am</td>
  </thead>
<!-- </table>
<div class="table-clickable" ng-repeat="proposal in proposals | filter:search | filter: orgFilter | filter: rawFilter" ng-click="open(proposal.ID)">
  <span ng-bind-html="proposal.Raw | convertToStatus"></span>
  <span>{{proposal.Title}}</span>
  <span>
    {{proposal.W1 | convertToName: 'W1' }}
    {{proposal.W2 | convertToName: 'W2' }}
    {{proposal.W3 | convertToName: 'W3' }}
    {{proposal.C1 | convertToName: 'C1' }}
    {{proposal.C2 | convertToName: 'C2' }}
    {{proposal.C3 | convertToName: 'C3' }}
    {{proposal.Tenure | convertTenure }}
  </span>
  <span>
    <span class="label label-default">{{proposal.orgAbbrev}}</span>
    {{proposal.orgName}}
  </span>
  <span>{{proposal.Culture}}</span>
  <span>{{proposal.Area}}</span>
  <span>{{proposal.Subject}}</span>
  <span>{{proposal.SaveTime | convertSQLdate | date: 'dd.MM.yyyy'}}</span>
</div> -->
  <!-- <tr ng-repeat="proposal in proposals | filter:search | filter: orgFilter as results"> -->
  <tr class="table-clickable" ng-repeat="proposal in proposals | filter:search | filter: orgFilter | filter: rawFilter" ng-click="open(proposal.ID)">
    <td ng-bind-html="proposal.Raw | convertToStatus"></td>
    <td>{{proposal.Title}}</td>
    <td>
      {{proposal.W1 | convertToName: 'W1' }}
      {{proposal.W2 | convertToName: 'W2' }}
      {{proposal.W3 | convertToName: 'W3' }}
      {{proposal.C1 | convertToName: 'C1' }}
      {{proposal.C2 | convertToName: 'C2' }}
      {{proposal.C3 | convertToName: 'C3' }}
      {{proposal.Tenure | convertTenure }}
    </td>
    <td>
      <span class="label label-default">{{proposal.orgAbbrev}}</span>
      {{proposal.orgName}}
    </td>
    <td>{{proposal.State}}</td>
    <td>{{proposal.Culture}}</td>
    <td>{{proposal.Area}}</td>
    <td>{{proposal.Subject}}</td>
    <td>{{proposal.SaveTime | convertSQLdate | date: 'dd.MM.yyyy'}}</td>
  </tr>
</table>
