<form>
  <div class="form-group">
    <label for="proposalTitle">Stellentitle:</label>
    <a href="https://www.academics.de{{proposal.Link}}">
      <i class="fa fa-link" aria-hidden="true"></i>
      Academics.de
    </a>
    <input name="proposalTitle" class="form-control" type="text" ng-model="proposal.Title">
  </div>
  <div class="form-group">
    <label for="proposalInstName" class="block">Organisation:</label>
    <select class="form-control select-inline">
      <option>{{proposal.instAbbrev}}</option>
    </select>
    <!-- <input name="proposalInstAbbrev" class="form-control" type="text" ng-model="proposal.instAbbrev"/> -->
    <input name="proposalInstName" type="text" class="form-control input-inline" ng-model="proposal.instName"/>
  </div>
  <div class="form-group">
    <label for="proposalDescription">Beschreibung:</label>
    <textarea name="proposalDescription" class="form-control" rows="8" type="text" ng-model="proposal.Description"></textarea>
  </div>
  <button class="btn btn-default" ng-click="editProposal()">Abbrechen</button>
  <button class="btn btn-default" ng-click="editProposal()">Speichern</button>
</form>
