<!DOCTYPE html>
<html ng-app="proposalApp">
<head>
    <meta charset="utf8" />
    <title>Stellenausschreibung</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <header ng-controller="header">
    <a href=".#/"><img class="main-logo" src="./assets/logo_uni_siegen.png"/></a>
    <nav class="main-navigation">
      <ul>
        <li><a href=".#/dashboard/">Dashboard</a></li>
        <li><a href=".#/proposals/">Offene Stellen</a></li>
        <li><a href=".#/jobs/">Besetzte Stellen</a></li>
        <li><a href=".#/organizations/">Organisationen</a></li>
      </ul>
    </nav>
    <div class="input-group search">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="goSearch(search)">Suchen!</button>
      </span>
      <span ng-show="search.length > 0" class="reset-search" ng-click="resetSearch()">
        x
      </span>
    </div>
  </header>
	<div ng-view class="content">
  </div>
    <script src="./js/angular-v1-5-3.js"></script>
    <script src="./js/angular-route-v1-5-3.js"></script>
    <script src="./js/angular-sanitize-v1-5-3.js"></script>
    <script src="./js/angular-animate-v1-5-3.js"></script>
    <script src="./js/angular-filter.min.js"></script>
	  <script src="./js/ui-bootstrap-1.2.4.min.js"></script>
    <script src="./js/ui-bootstrap-tpls-1.2.4.js"></script>
    <script src="./js/jsurl.js"></script>
    <!-- TODO gulp task for using the node_module path and copying it for working purpose -->
    <script src="./js/proposalApp.js"></script>
</body>
</html>
