<!DOCTYPE html>
<html ng-app="proposalApp">
<head>
    <meta charset="utf8" />
    <title>Stellenausschreibung</title>
    <link rel="stylesheet" href="./vendor/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <header ng-controller="headerCtrl as vm">
    <a href="#/"><img class="main-logo" src="assets/logo_uni_siegen.png"/></a>
    <nav class="main-navigation">
      <ul>
        <li><a href="#/dashboard/">Dashboard</a></li>
        <li><a href="#/proposals/">Offene Stellen</a></li>
        <li><a href="#/jobs/">Besetzte Stellen</a></li>
        <li><a href="#/organizations/">Organisationen</a></li>
      </ul>
    </nav>
    <div class="container-search">
      <div class="input-group search">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="vm.startSearch(vm.search)">Suchen!</button>
        </span>
        <span ng-show="vm.search.length > 0" class="reset-search" ng-click="vm.resetSearch()">
          <i class="fa fa-times fa-1" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </header>
	<div ng-view class="content">
  </div>
    <script src="./vendor/angular.min.js"></script>
    <script src="./vendor/angular-route.min.js"></script>
    <script src="./vendor/angular-sanitize.min.js"></script>
    <script src="./vendor/angular-animate.min.js"></script>
    <script src="./vendor/angular-filter.min.js"></script>
    <script src="./vendor/ui-bootstrap.js"></script>
    <script src="./vendor/ui-bootstrap-tpls.js"></script>
    <script src="./vendor/jsurl.js"></script>
    <script src="./scripts/proposalApp.js"></script>
    <script src="./scripts/coffee.js"></script>
</body>
</html>
